{% extends "base.html" %}
{% block title %}FDX{% endblock %}
{% block content %}
    <h1>Search</h1>
    <div  style="position: relative;">
        <img src="{{ image.file.url }}"  style="position: relative;" data-image-width="{{ image.width }}" data-image-height="{{ image.height }}">
    {% for location in face_locations  %}
        <a href="{{  location.link }}/">
            <div style="position: absolute; border: 1px solid red; "
                 data-src-top="{{ location.top }}"
                 data-src-left="{{ location.left}}"
                 data-src-width="{{ location.width}}"
                 data-src-height="{{ location.height}}"
                    ></div>
        </a>
    {% endfor %}
    </div>
    {{ image.file_md5 }}<br />
    {{ image.width }}x{{ image.height }}
    {# for top, right, bottom, left in face_locations: #}
{% endblock %}
