{% extends "base.html" %}
{% block body %}

    <h1>Search</h1>
    <div  style="position: relative;">
        <img src="{{ image.file.url }}"  style="position: relative;">
    {% for location in face_locations  %}
    {% for location in face_locations  %}
        {% if location.num == num %}
            <div style="position: absolute; border: 2px solid red; top: {{ location.top}}px;left: {{ location.left}}px;width: {{ location.width}}px; height: {{ location.height}}px "></div>
        {% else %}
        <a href="{{ link }}/"><div style="position: absolute; border: 1px solid red; top: {{ location.top}}px;left: {{ location.left}}px;width: {{ location.width}}px; height: {{ location.height}}px "></div></a>
        {% endif %}
    {% endfor %}
    {% endfor %}
    </div>
    {{ image.file_md5 }}<br />
    {{ image.width }}x{{ image.height }}
    {# for top, right, bottom, left in face_locations: #}
    ctx['num'] = {{  num }}<br />
    ctx['left'] ={{ left }}<br />
    ctx['right'] ={{ right }}<br />
    ctx['bottom'] ={{ bottom }}<br />
    ctx['left'] ={{ bottom }}<br />
    ctx['width'] ={{ width }}<br />
    ctx['height']={{ height }}<br />
    ctx['encoding'] ={{ encoding }}<br />

{% endblock %}